<div align="center" id="booking">
  <p> <strong> имя: </strong>
    <%= booking.name %>

   <strong>| email: </strong>
    <%= booking.email %>
  </p>

  <p> <strong> дата заезда: </strong>
    <%= booking.move_in %>
  </p>

  <p> <strong> дата выезда: </strong>
    <%= booking.move_out %>
  </p>

  <p> <strong> комната: </strong>
    <%= booking.room_id %>


   <strong>| одобрено: </strong>
    <% if booking.accepted %>
    <span style="color: green;"><%= "да" %></span>
    <% else %>
      <span style="color: red;"><%= "нет" %></span>
    <% end %>
  </p>

  <p>
    <% unless booking.accepted %>
      <%= button_to "Одобрить бронь", admin_booking_path(booking), method: :put, class: 'btn btn-success' %>
    <% end %>
    <%= button_to "Удалить бронь", admin_booking_path(booking), method: :delete, class: 'btn btn-danger' %>
  </p>

</div>