<% if @room.errors.any? %>
  <h2>The following errors prevented the room from saving:</h2>
  <ul>
    <% @room.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div align="center" class="rooms-form">
  <%= form_for :room, url: admin_rooms_url, data: {turbo:false} do |form| %>
    <div>
      <%= form.label 'Название комнаты', style: "display: block" %>
      <%= form.text_field :room_name %>
    </div>

    <div>
      <%= form.label "Подробное описание", style: "display: block" %>
      <%= form.text_area :long_description %>
    </div>

    <div>
      <%= form.label "Описание", style: "display: block" %>
      <%= form.text_area :short_description %>
    </div>


    <div>
      <%= form.label "Цена", style: "display: block" %>
      <%= form.number_field :price %>
    </div>
    <br>
    <div>
      <%= form.label "Добавить изображение:", style: "display: block" %>
      <%= form.file_field :images, multiple: true %><br>
    </div>
    <br>
    <div>
      <%= form.submit "Сохранить" %>
    </div>

  <% end %>
</div>