<div id="<%= dom_id booking %>">
  <p> <strong> name: </strong>
    <%= booking.name %>
  </p>

  <p> <strong> email: </strong>
    <%= booking.email %>
  </p>

  <p> <strong> date of moving in: </strong>
    <%= booking.move_in %>
  </p>

  <p> <strong> date of moving out: </strong>
    <%= booking.move_out %>
  </p>

  <p> <strong> room: </strong>
    <%= booking.room_id %>
  </p>

</div>