<div class="booking" id="<%= dom_id booking %>">
  <p> <strong> имя: </strong>
    <%= booking.name %>
  </p>

  <p> <strong> email: </strong>
    <%= booking.email %>
  </p>

  <p> <strong> заезд: </strong>
    <%= booking.move_in %>
  </p>

  <p> <strong> выезд: </strong>
    <%= booking.move_out %>
  </p>

  <p> <strong> комната: </strong>
    <%= booking.room_id %>
  </p>

</div>