<div id="room">
  <p>
    <strong>Название комнаты:</strong>
    <%= room.room_name %>
  </p>

  <p>
    <strong>Короткое описание:</strong>
    <%= room.short_description %>
  </p>
  <p>
    <strong>Цена:</strong>
    <%= room.price %>
  </p>

  <p>
    <% room.images.limit(1).each do |image|%>
      <%= link_to image_tag(room.images_as_thumbnails(image)), image %>
    <%end%>
  </p>

  <p>
    <%= button_to "Бронировать", room, :method => :get %>
  </p>

</div>