<%= render '/layouts/navigation' %>

<div align="center" class="rooms-form">
  <p>
    <strong>Название комнаты:</strong>
    <%= @room.room_name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= @room.short_description %>
  </p>
  <p>
    <strong>Цена:</strong>
    <%= @room.price %>
  </p>
    <p>
      <strong>Подробное описание:</strong>
      <%= @room.long_description %>
    </p>
  <p>
    <% @room.images.each do |image|%>
      <%= link_to image_tag(@room.images_as_thumbnails(image)), image %>
    <%end%>
  </p>
  <%= render :partial => '/bookings/form', :locals => {:room_id => @room.id} %>
  <div>
    <%= link_to "К списку комнат", rooms_path %>
  </div>

</div>
