<nav class="navbar navbar-expand-lg bg-dark" style="margin-bottom: 20px;">
  <div class="container-fluid">
    <%= link_to "Главная", '/admin', class: "navbar-brand", id: "logo" %>
    <%= link_to "Комнаты", admin_rooms_path, class: "navbar-brand", id: "logo" %>
    <%= link_to "Отзывы", admin_reviews_path, class: "navbar-brand", id: "logo" %>
    <%= link_to "Брони", admin_bookings_path, class: "navbar-brand", id: "logo" %>
    <%= link_to "Выйти", destroy_user_session_path, :method => :delete, class: "navbar-brand", id: "logo" %>
  </div>
</nav>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>