<!DOCTYPE html>
<html>
  <head>
    <title>Guest house</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <div class="flex-wrapper">
    <div class="body">
    <%= yield %>
    </div>

    <div class="footer">
      <p align="center"> Guest house | 2023 </p>
    </div>
  </div>
</html>
